	
<!--<div id="main" role="main">
	<div id="ribbon">

		<span class="ribbon-button-alignment">
			<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip"
				  data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning!
                   This will reset all your widget settings." data-html="true">
				<i class="fa fa-refresh"></i>
			</span>
		</span>

	
		<ol class="breadcrumb">
			<li>Home</li>
			<li>TSE Master</li>
		</ol>


	</div>
	
	<div id="content">


		
		<section id="widget-grid" class="">


			<div ng-show="TSEGrid == true">
				<button ng-click="AddTSE()" class="btn btn-sm btn-primary">Add TSE</button>
			</div><br />


			<div class="row">

				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" ng-show="TSEGridView == true">
					<dir-pagination-controls max-size="20"
											 direction-links="true"
											 boundary-links="true">
					</dir-pagination-controls>
					<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" role="widget" style="position: relative; opacity: 1; left: 0px; top: 0px;">

						<header role="heading">
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<h2>TSE</h2>
							<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>


						</header>

								<div>

							<div class="jarviswidget-editbox">
								

							</div>
							
							<div class="widget-body no-padding">

								
								<div class="table-responsive">

									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>S.No</th>
												<th>Area</th>
												<th>EMP Code</th>
												<th>Action</th>

											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="pt in  TSEArray">

												<td>{{ $index+1}}</td>
												<td>{{ pt.Area}} </td>
												<td>{{ pt.EmpCode}} </td>




												<td>
													<button ng-click="Edit(pt)" class="btn btn-sm btn-primary">Edit</button>
													&nbsp;
													<button ng-click="Delete(pt.TSEID)" class="btn btn-sm btn-danger">Delete</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" ng-show="TSEAddDetail==true">

					<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" role="widget" style="position: relative; opacity: 1; left: 0px; top: 0px;">


						<header role="heading">
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<h2>TSE</h2>
							<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>


						</header>
						<div>

							<div class="jarviswidget-editbox">
								

							</div>
							<div class="widget-body no-padding">
								<form id="checkout-form" class="smart-form" novalidate="novalidate">
									<fieldset>
										<div class="row">

											<section class="col col-3">
												<label class="label"><b>AREA</b></label>
												<label class="input">

													<input type="text" class="form-control" ng-model="Area" placeholder="Area">
												</label>
											</section>
											<section class="col col-3">
												<label class="label"><b>EMP CODE</b></label>
												<label class="input">

													<input type="text" class="form-control" ng-model="EmpCode" placeholder="EMP CODE">
												</label>
											</section>

										</div>
									</fieldset>


									<footer>

										<section style="text-align: center">

											<button ng-click="Update()"  ng-show="TSEUpdate==true" class="btn btn-sm btn-info btn-flat pull-left">Update</button>

											<button  ng-click="Save()" ng-show="TSESave==true" href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Save</button>

											<button ng-click="Back()"  href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Back</button>
										</section>

									</footer>

								
								</form>
</div>
							
						</div>
					</div>
				</article>
			</div>

			

		</section>
		

	</div>
	

</div>-->






		<!-- MAIN PANEL -->
<div id="main" role="main">

	<!-- RIBBON -->
	<div id="ribbon">

		<span class="ribbon-button-alignment">
			<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip"
				  data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning!
                   This will reset all your widget settings." data-html="true">
				<i class="fa fa-refresh"></i>
			</span>
		</span>

		<!-- breadcrumb -->
		<ol class="breadcrumb">

			<li>TSE</li>
		</ol>


	</div>
	<!-- END RIBBON -->
	<!-- MAIN CONTENT -->
	<div id="content">


		<!-- widget grid -->
		<section id="widget-grid" class="">


			<!-- row -->

			<div class="row">

				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
					<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" role="widget">

						<header role="heading">
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<h2>TSE</h2>
							<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
							<br />


						</header>

						<!-- widget div-->
						<div role="content">

							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->

							</div>
							<!-- end widget edit box -->
							<!-- widget content -->
							<div class="widget-body no-padding">
								<div class="table-responsive">

									<table class="table table-bordered table-hover">
										<thead>
											<tr>

												<th>Area</th>
												<th>Emp Code</th>



												<th><button class="btn btn-primary" ng-click="AddMatrix()">+</button></th>
											</tr>

										</thead>


										<tr ng-repeat="pt in  TSEMatrixArray">


											<td>
												Delhi
											</td>


											<td>
												<input type="text" ng-model="pt.EmpCode" class="form-control" />
											</td>
											<td>
												<button class="btn btn-primary" ng-click="RemoveMatrix($index,pt.TSEID)">-</button>
											</td>
										</tr>


									</table>
								</div>
							</div>


						</div>
						<!-- end widget div -->

					</div>
					<button ng-click="Save()" class="btn btn-sm btn-primary" ng-show="ShowSave == true">Save</button>
					<button ng-click="Update()" class="btn btn-sm  btn-primary" ng-show="ShowSave == false">Update</button>
				</article>

			</div>

			<!-- end row -->

		</section>
		<!-- end widget grid -->

	</div>
	<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
